*{

    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: montserrat;  
    content: center;
}
main{
    background-image: url('/images/background/back3.jpeg');
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav{
    position: fixed;
    background: #0005;
    height: 60px;
    width: 100%;
}

label.logo{
    color: #FFFFFF;
    font-size: 35px;
    line-height: 60px;
    padding: 0 30px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
label.logo a{
    color: wheat;
}
nav ul li a{
    color: #FFFFFF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background: transparent;
    transition: .5s;
}
.maintext{
    font-size: 25px;
    color: white;
    height: 60vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.maintext a {
    color: wheat;
}
  
#hello-button{
    background: rgb(76, 163, 68);
    border: 0;
    color: white;
    height: 50px;
    width:50%;
    font-size: 25px;
    border-radius: 5px;
}
.greeting{
    display: flex;
    flex-direction: row;
}
#h2{
    color: white;
    text-align: left;
    padding:0;
}

#h2::first-letter{
    color: red;
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
}

.mainimage{
    padding: 0;
}
.mainimage img{
    border-radius: 3%;
    height: 80vh;
    width: 80vh;
}

.my_links{
    display:inline-block; 
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
  
.my_links:hover{
    background-color: transparent;
}
  
.icons{
    margin-left: 20px;
    margin-right: 20px;
    height: 35px;
    width: 35px;
}

.aboutsection{
    background-image: url('/images/background/background-two.jpeg');
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    background-size: cover;
}

.aboutimage{
    padding: 0;
}

.aboutimage img{
    border-radius: 1%;
    height: 80vh;
    width: 80vh;
}

.abouttext{
    font-size: 25px;
    font-weight: 500;
    color: black;
    height: 60vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.abouttext h1{
    color:navy;
}

.skillssection{
    background-image: url('/images/background/back2.jpeg');
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    background-size: cover;
}

.skillssection img{
    border-radius: 1%;
    height: 80vh;
    width: 80vh;
}

.skillstext{
    font-size: 25px;
    font-weight: 500;
    color: white;
    height: 60vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skillstext h1{
    color: whitesmoke;
}

.experiencesection{
    background-image: url('/images/background/background-four.webp');
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    background-size: cover;
}

.experiencesection img{
    border-radius: 1%;
    height: 80vh;
    width: 80vh;
}

.experiencetext{
    font-size: 25px;
    font-weight: 500;
    color: navy;
    height: 60vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experiencetext h1{
    color: white;
}
.portfoliosection{
    background:linear-gradient(to right,
    darkgrey 0%,
    darkgrey  50%,
    lightgrey 50%,
    lightgrey 100%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-size: cover;
}

.portfoliotext{
    font-size: 25px;
    font-weight: 500;
    color: white;
    height: 40vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 20px;
}

.portfoliocards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80vh;
    width: 60vw;
    
}
.row{
    display: flex;
    justify-content: space-evenly;
    
}
.card1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    width: 45%;
    background-image: url('/images/apps/calculator.jpeg');
    background-size: cover;
}

.card1 input[type = "button"]{
    width: 40%;
    background-color: transparent;
    border: black 3px double;
    color: white;
}
.card2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 35vh;
    width: 45%;
    background-size: cover;
    background-image: url('/images/apps/todo.jpeg');
}

.card2 input[type = "button"]{
    width: 40%;
    background-color: transparent;
    border: black 3px double;
    color: navy;
}
.card3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 35vh;
    width: 45%;
    background-image: url('/images/apps/shared-library.jpeg');
    background-size: cover;
}
.card3 input[type = "button"]{
    width: 40%;
    background-color: transparent;
    border: wheat 5px double;
    color: yellow;
}
.card4{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 35vh;
    width: 45%;
    background-image: url('/images/apps/linux.jpeg');
    background-size: contain;
}
.card4 input[type = "button"]{
    width: 40%;
    background-color: transparent;
    border: black 3px double;
    color: navy;
}
.feedbacksection{
    background-image: url('/images/background/HD-Technology-Wallpaper-6-1223916119.jpeg');
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-size: cover;
}

.feedbacksection form{
    background-color: rgba(219, 214, 214, 0.333);
    height: 80vh;
    width: 80vh;
    border-radius: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    color: navy;
    font-size: larger;
    font-weight: 400;
}

.feedbacksection h1{
    text-align: center;
}

.feedbacksection input[type="text"],input[type="email"],input[type="button"]{
    height: 45px;
    font-size: 25px;
}

.feedbacksection input[type="button"]{
    height: 45px;
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    background-color: green;
    border-radius: 3px;
    margin-top: 10px;
}

.feedbacksection textarea{
    font-size: 25px;
}

.feedbacksection select{
    height: 30px;
    font-size: 20px;
}

.stars{
    color: red;
}