@media only screen and (max-width: 600px){

    body{  
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }

    main{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
    }

    nav{
        display: none;
    }
    nav ul li a{
        color: #FFFFFF;
        font-size: 1em;
        padding: 5px 5px;
        border-radius: 1px;
        text-transform: uppercase;
        display: none;
    }

    .maintext{
        font-size: 25px;
        color: white;
        height: 40vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20vh;
    }
    .mainimage img{
        border-radius: 3%;
        height: 40vh;
        width: 90vw;
    }

    .icons{
        margin-left: 15px;
        margin-right: 10px;
        height: 35px;
        width: 35px;
        display: none;
    }

    #hello-button{
        display: none;
    }

    .aboutsection{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .aboutimage img{
        margin-top: 5vh;
        border-radius: 3%;
        height: 40vh;
        width: 90vw;
    }
    .abouttext h1{
        display: none;
    }
    .abouttext{
        font-size: 25px;
        font-weight: 500;
        color: black;
        height: 40vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 20vh;
    }

    footer{
        display: flex;
        bottom: 0;
        width: 100vw;
        height: 9vh;
        position: fixed;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10vh;
    }

    footer a{
        width: 17vw;
        height: 8vh;
        border: white 1px solid;
        border-radius: 10%;
        color: white;
        margin-bottom: 2vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
    }

    .skillssection{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-size: cover;
        margin: 0;
    }

    .skillssection img{
        border-radius: 3%;
        height: 40vh;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .skillstext h1{
        display: none
    }

    .skillstext p{
        text-wrap: wrap;
    }

    .skillstext{
        font-size: 25px;
        font-weight: 500;
        color: white;
        height: 40vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 20vh;
    }

    .experiencesection{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    .experiencesection img{
        border-radius: 3%;
        height: 40vh;
        width: 90vw;
    }

    .experiencetext{
        font-size: 25px;
        font-weight: 500;
        color: navy;
        height: 40vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20vh;
    }
    
    .experiencetext h1{
        display: none;
    }
    .feedbacksection{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .feedbacksection form{
        background-color: rgba(219, 214, 214, 0.333);
        height: 80vh;
        width: 70vh;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        color: navy;
        font-size: larger;
        font-weight: 400;
        margin-bottom: 20vh;
    }
}